.hero {
  margin-top: -20px;
  padding: 100px;
  background-image: url('../../img/hero-bg.png');
  background-size: 1400px 100%;
  background-position: calc(50%) 0;
  background-repeat: no-repeat;

  h2 {
    color: white;
    max-width: 400px;
    margin-left: 50px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;

    span {
      color: rgba(206, 148, 107, 1);
    }
  }

  p {
    max-width: 400px;
    margin-left: 50px;
    color: white;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  form {
    margin-left: 50px;
    max-width: 250px;
    display: flex;
    flex-direction: column;

    input {
      border-radius: 5px;
      padding: 10px 30px;
      border: none;
    }

    button {
      background-color: rgba(206, 148, 107, 1);
      padding: 20px 20px;
      border-radius: 10px;
      border: none;
      margin-top: 10px;
      color: white;
      font-family: 'TT Norms';
      font-style: normal;
      width: 250px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media (max-width: 580px) {
  .hero {
    margin-top: 0px;
    padding: 40px 0px;
    background-image: url('../../img/hero-bg.png');
    background-size: 1400px 100%;
    background-position: calc(50%) 0;
    background-repeat: no-repeat;
  
    h2 {
      color: white;
      max-width: 200px;
      font-family: 'Tenor Sans';
      font-style: normal;
      font-size: 20px;
      line-height: 28px;
  
      span {
        color: rgba(206, 148, 107, 1);
      }
    }
  
    p {
      max-width: 400px;
      color: white;
      font-family: 'TT Norms';
      font-style: normal;
      font-size: 14px;
      line-height: 26px;
    }
  
    form {
      max-width: 250px;
      display: flex;
      flex-direction: column;
  
      input {
        border-radius: 5px;
        padding: 10px 30px;
        border: none;
      }
  
      button {
        display: flex;
        justify-content: space-between;
        background-color: rgba(206, 148, 107, 1);
        padding: 20px 20px;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        color: white;
        font-family: 'TT Norms';
        font-style: normal;
        max-width: 230px;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}